In [1]:
# Los objetos de date y time pueden ser categorizados como "aware" (incluyen zona horaria, etc y no están sujetos a interpretación)
# y "naive" (no incluyen zona horaria ni otros elementos y por lo tanto no tienen información suficiente para situarlos sin ambigüedad
# con referencia a otros objetos, como en cualquier programa un 5 podría representar kilos, gramos o litros, dependiendo del contexto).

In [2]:
import datetime

# Constantes

In [3]:
# MINYEAR --> el número más pequeño permitido en un objeto date o datetime (1)
datetime.MINYEAR

1

In [4]:
# MAXYEAR --> el número más grande permitido en un objeto date o datetime (9999)
datetime.MAXYEAR

9999

# Tipos

#### date(year, month, day)

In [10]:
# class date --> Almacena una fecha en formato datetime.date(year, month, day)

# year debe estar entre MINYEAR y MAXYEAR
# month debe ser un int entre 1 y 12
# day debe ser un día válido para ese month

d1 = datetime.date(2021, 3, 21)

print(d1)

print(d1.year)
print(d1.month)
print(d1.day)

2021-03-21
2021
3
21

In [11]:
# date tiene otros objetos posibles:

# today --> devuelve el día actual en formato datetime.date

d2 = datetime.date.today()

print(d2)

2021-05-16

In [12]:
# fromisoformat(date_string) --> Devuelve un date correspondiente a un string en forma YYYY-MM-DD

d3 = datetime.date.fromisoformat('2021-05-13')

print(d3.day)

13

##### date métodos de instancia

In [15]:
# date.replace() --> devuelve un date con los mismos valores, excepto los que reciben nuevos valores (year, month, day)

d4 = datetime.date(2021, 5, 13)

d4 = d4.replace(year=2020)

print(d4)

2020-05-13

In [17]:
# date.toordinal(date) --> devuelve el día gregoriano correspondiente, siendo el 1 de enero del año 1 el día 1.

d5 = datetime.date.today()

g = datetime.date.toordinal(d5)

print(g)

737926

In [18]:
# date.weekday(date) --> devuelve el día de la semana como int, correspondiendo el 0 al lunes y el 6 al domingo.

dw = datetime.date.weekday(d5)

print(dw)

6

In [20]:
# date.isoweekday(date) --> devuelve el día de la semana como int, correspondiendo el 1 al lunes y el 7 al domingo.

nacimiento = datetime.date(1973, 7, 15)
nacimiento2 = datetime.date(2007, 8, 27)

print(nacimiento.isoweekday())
print(nacimiento2.isoweekday())

7
1

In [22]:
# date.isoformat(date) --> devuelve un string con la fecha especificada en formato YYYY-MM-DD

fecha_nacimiento = datetime.date.isoformat(nacimiento)

print(fecha_nacimiento)

1973-07-15

In [25]:
# date.ctime() --> devuelve un string representado el día especificado

print(nacimiento.ctime())

print(datetime.date(2021, 5, 16).ctime())

Sun Jul 15 00:00:00 1973
Sun May 16 00:00:00 2021