In [1]:
# Los objetos de date y time pueden ser categorizados como "aware" 
# (incluyen zona horaria, etc y no están sujetos a interpretación)
# y "naive" (no incluyen zona horaria ni otros elementos y por lo tanto
# no tienen información suficiente para situarlos sin ambigüedad
# con referencia a otros objetos, como en cualquier programa un 5 podría
# representar kilos, gramos o litros, dependiendo del contexto).

In [2]:
import datetime

# Constantes

In [3]:
# MINYEAR --> el número más pequeño permitido en un objeto date o datetime (1)
datetime.MINYEAR

1

In [4]:
# MAXYEAR --> el número más grande permitido en un objeto date o datetime (9999)
datetime.MAXYEAR

9999

# Objetos NAIVE

## Tipos

### date(year, month, day)

##### date: objetos

In [5]:
# class date --> Almacena una fecha en formato datetime.date(year, month, day)

# Acepta 3 argumentos: year, month y day.

# year debe ser un int entre MINYEAR y MAXYEAR
# month debe ser un int entre 1 y 12
# day debe ser un int válido para el atributo month

# los int no pueden ser completados con 0s a la izquierda

d1 = datetime.date(2021, 3, 21)

print(d1)

print(d1.year)
print(d1.month)
print(d1.day)

2021-03-21
2021
3
21

In [6]:
# date tiene otros objetos posibles:

# today --> devuelve el día actual en formato datetime.date

d2 = datetime.date.today()

print(d2)

2021-05-17

In [7]:
# fromisoformat(date_string) --> Devuelve un date correspondiente a un string en forma YYYY-MM-DD

d3 = datetime.date.fromisoformat('2021-05-13')

print(d3.day)

13

##### date: métodos de instancia

In [8]:
# date.replace() --> devuelve un date con los mismos valores, excepto los que reciben
# nuevos valores (year, month, day)

d4 = datetime.date(2021, 5, 13)

d4 = d4.replace(year=2020)

print(d4)

2020-05-13

In [9]:
# date.toordinal(date) --> devuelve el día gregoriano correspondiente, siendo
# el 1 de enero del año 1 el día 1.

d5 = datetime.date.today()

g = datetime.date.toordinal(d5)

print(g)

737927

In [10]:
# date.weekday(date) --> devuelve el día de la semana como int, correspondiendo
# el 0 al lunes y el 6 al domingo.

dw = datetime.date.weekday(d5)

print(dw)

0

In [11]:
# date.isoweekday(date) --> devuelve el día de la semana como int, correspondiendo
# el 1 al lunes y el 7 al domingo.

nacimiento = datetime.date(1973, 7, 15)
nacimiento2 = datetime.date(2007, 8, 27)

print(nacimiento.isoweekday())
print(nacimiento2.isoweekday())

7
1

In [12]:
# date.isoformat(date) --> devuelve un string con la fecha especificada en formato YYYY-MM-DD

fecha_nacimiento = datetime.date.isoformat(nacimiento)

print(fecha_nacimiento)

1973-07-15

In [13]:
# date.ctime() --> devuelve un string representado el día especificado

print(nacimiento.ctime())

print(datetime.date(2021, 5, 16).ctime())

Sun Jul 15 00:00:00 1973
Sun May 16 00:00:00 2021

##### date: operaciones soportadas

In [14]:
# suma: date2 = date1 + timedelta

d7 = datetime.date.today()
td1 = datetime.timedelta(days=28)

d8 = d7 + td1

print(d8)

2021-06-14

In [15]:
# resta: date2 = date1 - timedelta

d9 = datetime.date.today()
td2 = datetime.timedelta(days=17)

d10 = d9 - td2

print(d10)

2021-04-30

In [16]:
# timedelta (espacio de tiempo)

d11 = datetime.date(2038, 7, 15)
hoy = datetime.date.today()

td3 = d11 - hoy

print(td3)

6268 days, 0:00:00

In [17]:
# operadores lógicos: un objeto date1 se considera "menor" que date2 cuando
# date1 precede a date2 en el tiempo

dia_d = datetime.date(1944, 6, 6)

print(dia_d < hoy)

True

### time(hour, minute, second, microsecond)

In [19]:
# time acepta los siguientes argumentos:

# hour: 0 <= hour < 24
# minute: 0 <= minute < 60
# second: 0 <= second < 60
# microsecond: 0 <= microsecond < 1000000
# fold in [0, 1] --> fold se usa para desambigüar dos objetos time iguales en un intervalo repetido.
                    # Un intervalo repetido ocurre cuando los relojes se retrasan una hora el día
                    # que se ajusta el horario de verano, repitiendo una hora completa para adelantar
                    # el reloj. El valor 0 representa el momento primero de los dos que tienen el mismo
                    # valor. El 1 representa el segundo momento. Valor por defecto = None

##### time: objetos

In [20]:
# class datetime.time(hour, minute, second, microsecond)

t1 = datetime.time(20, 18, 34)

print(t1)

print(t1.hour)
print(t1.minute)
print(t1.second)

20:18:34
20
18
34

##### time: otros constructores

In [22]:
# classmethod time.fromisoformat(time_string) --> devuelve un objeto time de un string tipo '21:17:24'

t2 = datetime.time.fromisoformat('21:17:24')

print(t2)

print(t2.hour)
print(t2.minute)
print(t2.second)

21:17:24
21
17
24

##### time: métodos de instancia

In [23]:
# time.replace(hour, minute, second, microsecond) --> devuelve un objeto time con valores nuevos en los
# argumentos especificados, manteniendo iguales los no especificados.

t2 = t2.replace(hour=18)

print(t2)

18:17:24

In [30]:
# time.isoformat(timespec='auto') --> devuelve un string representado el tiempo en formato ISO 8601:

# HH:MM:SS.ffffff si microsecond no es 0
# HH:MM:SS si microsecond es 0

# El argumento opcional timespec especifica el número de componentes adicionales del objeto time a
# incluir:

# - 'auto': igual que 'seconds' si microseconds es 0. Igual que microseconds si no.
# - 'hours': incluye hour en formato HH
# - 'minutes': incluye hour y minute en formato HH:MM
# - 'seconds': incluye hour, minute y second en formato HH:MM:SS
# - 'milliseconds': incluye el tiempo completo, pero trunca la parte fraccional de segundos a milisegundos
                    # HH:MM:SS.sss
# - 'microseconds': incluyeel tiempo completo en formato HH:MM:SS.ffffff

t3 = datetime.time(hour=17, minute=31) # al no especificar segundos por defecto equivalen a 0

# Al hacer un print, este valor de seconds 00 aparece en el objeto time

print(t3)

# Para evitarlo se especifica el argumento timespec='minutes' para limitar el número de argumentos
# a horas y minutos

print(t3.isoformat(timespec='minutes'))

17:31:00
17:31

### datetime(year, month, day, hour, minute, second, microsecond)

In [34]:
# Un objeto datetime es un objeto único que contiene toda la información de los objetos date y time.

dia_teatro = datetime.datetime(2021, 5, 15, 19, 30)

print(dia_teatro)
print(f'La representación será el día {dia_teatro.day} del {dia_teatro.month} a las {dia_teatro.hour}:{dia_teatro.minute}.')

2021-05-15 19:30:00
La representación será el día 15 del 5 a las 19:30.

##### datetime: otros constructores

In [35]:
# datetime.datetime.today() --> devuelve el datetime actual con tzinfo None.

hoy = datetime.datetime.today()

print(hoy)

print(hoy.year)
print(hoy.month)
print(hoy.day)
print(hoy.hour)
print(hoy.minute)

2021-05-17 09:48:24.954186
2021
5
17
9
48

In [36]:
# datetime.datetime.now(tz=None) --> devuelve el datetime actual pero intenta aportar más precisión que today().
# En el caso de que tz se deje como None o no se especifique es equivalente a today().

ahora = datetime.datetime.now()

print(ahora)

# En caso de que tz no sea None debe ser una instancia de la subclase tzinfo.

2021-05-17 09:54:15.531784

In [48]:
# datetime.datetime.utcnow() --> equivalente a now() pero devuelve el date y time UTC
# como objeto datetime naive. En caso de querer un objeto aware es necesario utilizar now(datetime.timezone.utc)

ahora2 = datetime.datetime.now()
ahora3 = datetime.datetime.utcnow() # Restará o sumará las horas necesarias para adaptar el objeto a la 
                                            # zona horaria
ahora4 = datetime.datetime.now(datetime.timezone.utc)

print(ahora2)
print(ahora3)
print(ahora4)

2021-05-17 10:34:25.577158
2021-05-17 08:34:25.577302
2021-05-17 08:34:25.577426+00:00

In [49]:
# datetime.datetime.fromisoformat(date_string) --> devuelve un objeto datetime de un string en formato
# 'YYYY-MM-DD HH:MM:SS.ffffff'

dt = datetime.datetime.fromisoformat('2021-07-15 17:15')

print(dt)

2021-07-15 17:15:00

##### datetime: operaciones soportadas

In [60]:
# datetime.datetime soporta las mismas operaciones que datetime.date (suma, resta, operadores lógicos...)

dt2 = datetime.datetime.today()

td3 = datetime.timedelta(days=3, hours=5, minutes=25)

dt3 = dt2 + td3
dt4 = dt2 - td3

print(dt2.isoformat(timespec='minutes'))
print(dt3.isoformat(timespec='minutes'))
print(dt4.isoformat(timespec='minutes'))

print(dt2 < dt4)
print(dt2 > dt4)

2021-05-17T10:55
2021-05-20T16:20
2021-05-14T05:30
False
True

##### datetime: métodos de instancia

In [61]:
# datetime.date() --> devuelve un objeto date() con el mismo year, month y day que el datetime original

d24 = dt2.date()

print(d24)
print(type(d24))

2021-05-17
<class 'datetime.date'>

In [62]:
# datetime.time() --> devuelve un objeto time() con el mismo valor hour, minute, second, microsecond
# que el datetime original

t17 = dt2.time()

print(t17)
print(type(t17))

10:55:55.544102
<class 'datetime.time'>

In [65]:
# datetime.replace(year, month, day, hour, minute, second, microsecond) --> devuelve un objeto datetime con
# los valores especificados cambiados y los no especificados iguales al original

dt25 = dt2.replace(year=1978)

print(dt2)
print(dt25)

2021-05-17 10:55:55.544102
1978-05-17 10:55:55.544102

In [ ]:
# datetime.toordinal() --> devuelve el nú